
/* ######### defining general things ############## */
html,body {
  margin: 0;
  padding:0;
}

 .height100 {
  height:100%;
}

body {
  font-family:sans-serif;
  font-size:10pt;
  min-width:1024px;
}

header {
  height:750px;
  background: url(../img/HeaderBG.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.borderRadius5,
#musicList > p > a:first-child  {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.testOutline {
  border: 1px solid silver;
}

a {
  color:#009f95;
  text-decoration: none;
}

a:hover {
  color:#fff30f;
  text-decoration: underline;
}

/* ######### defining general things ############## */
/* ###### navigation ####### */

/*.heightOverNav {
  height:5px;
}*/

.socialMediaNav {
  overflow: hidden;
  padding:0.5em 0em;

}
.socialMediaNav nav ul {
  color: #fff;
  list-style: none;
  margin:0em 3em; /*Abstand zu links*/
  width:500px;
  /*overflow: auto;*/
    
}
.socialMediaNav nav ul li{
  float: left;
  margin: 0px 5px;
  font-size:1em;
  padding:2px 0;    
}

.mainNavigation nav {
  margin: 20px 0 0 2em;
  /*overflow: auto;*/
  /*width:500px;*/
}
.mainNavigation nav ul {
  margin: 0;
  /*overflow: auto;*/
}
.mainNavigation nav ul li {
  /*font-family: cursive;*/
  float: left;
  margin: 0 5px;
  width: 120px;
  /*height:60px;*/
  font-size:2.8em;          
  padding: 15px 10px;
  border: 1px solid #414141;
  /*color:#fff;*/
  text-align: center;
  vertical-align: middle;
  list-style: none;
}
.mainNavigation nav ul li {
  font-family: bulletproofnoquotes;
}

/* ###### navigation end ####### */

/* ###### music box start ####### */

.currentlyListenTo {
  width: 100%;
/*  margin: auto;*/
  /*height:100px;*/
  /*float:right;*/
}

/* ###### music box end ####### */
div#musicPlayer {
  padding:5px;
  height:60px;
}
div#musicPlayer > div/*, div#musicPlayer > canvas*/ {
  margin: auto;
  width:450px;
}
div#musicPlayer > div > audio {
  /*width:450px;*/
}
div#musicPlayer > div#analiserRender, div#musicPlayer > canvas {
  width:450px;
  height:30px;
  color: #d2d2d2;
  display: block;
  margin: auto;
}

div#musicPlayer >  div#analiserRender {
  height:25px;
 text-align: center;
 padding-top: 5px;
}
#audioPlayer {
  height:28px;
}

/* ###### section start ####### */

.wrapper{
  width:944px;
  margin:auto;
  padding: 2px;
  /*overflow: auto;*/
 
}

.main {
  /*overflow: auto;*/
  display: block;
  margin: 0 0px 0 0px;
  width:744px;
  float:left;
}

/* ###### marginal column ######*/

.links {
  width:200px;
  float:left;
  height:100%;
  /*overflow: auto;*/
  margin-bottom:10px;
}

#musicList {
  border: 1px solid #fde3ed;
  padding:5px;
  cursor: pointer;
}
#musicList > p > a:nth-child(2n) {
  width:160px;
}
.hiddenDelete {
  background-color: #eaeaea;
  cursor: pointer;
  color:#fff;
  margin:0 4px 2px 4px;
  padding:0 4px 2px 4px;
  visibility: hidden;
  font-family: monospace;
}
.visibleDelete {
  background-color: #eaeaea;
  cursor: pointer;
  color:#fff;
  margin:0 4px 2px 4px;
  padding:0 4px 2px 4px;
  visibility: visible;
  font-family: monospace;
}

.search {
  padding:3px;
  font-family: Georgia;
  line-height: 1;
  width:96%;
  border: 1px solid #f3f3f3;
  margin-bottom:5px;
}
#jQueryResults {
  margin: 0 15px;
  background-color: #e3e3e3;
  padding:5px;
}

/* ###### marginal column end ######*/

/* ###### section end ####### */


/* ###### band start ####### */
.bandDiv {
  width:350px;
  /*height:220px;*/
  float:left;
  background: #010101;
  border: #000 solid 1px;
  border: #020202 solid 1px;
  /*overflow: auto;*/
  margin: 0px 0px 1px 0px;
  padding: 10px;
  /*border: 1px solid silver;*/
}
.bandDiv:hover{
  background: #1a1a1a;
}

.bandDiv p {
  margin: 0px;
}
.bandDiv > a {
  cursor: pointer;
  display:block;
  float:left;
  width:175px;
  height:75px;
  text-align: center;
  vertical-align: middle;
  font-size: 5em;
  margin-top: 10px;
}

.bandDiv > a:hover {
  background: #010101;
  text-decoration: none;
}

.bandPicture {
  width:346px;
  height:346px;
  border:2px solid #f3f3f3;
  background-color: white;
}
.bandHeadline {
  margin: 0px;
  font-weight: bolder;
  font-size: 12pt;
}

/* ###### band end ####### */

/* ###### footer start ####### */
footer {
  padding:10px;
  /*height:200px;*/
  height:100%;
  min-height: 45  0px; 
  margin-top: 20px;
  margin-bottom:0;
  /*overflow: auto;*/
}
/* ###### footer end ####### */

.background1 {
  background: #1a1a1a; /* Old browsers */
  /*background: -moz-linear-gradient(top,  #5b5b5b 0%, #191919 100%);*/ /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#191919));*/ /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top,  #5b5b5b 0%,#191919 100%);*/ /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top,  #5b5b5b 0%,#191919 100%);*/ /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top,  #5b5b5b 0%,#191919 100%);*/ /* IE10+ */
  /*background: linear-gradient(to bottom,  #5b5b5b 0%,#191919 100%);*/ /* W3C */
  /*filter:     progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#191919',GradientType=0 );*/ /* IE6-9 */
}
.background2 {
  background: #010101;
}

.bottom {vertical-align: bottom;
}

.yellow {
    color:#fff30f;
    text-outline: #fffaa0;
}
.pink {
    color:#e40152;
}
.blue {
    color:#009f95;
}

/*cleafixes*/
.clearfix:after,
.socialMediaNav /*nav*/ ul li:after,
.currentlyListenTo:after,
.links:after,
.bandDiv:after,
.search:after,
#musicList:after,
.wrapper:after
 {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix,
.socialMediaNav /*nav*/ ul li,
.currentlyListenTo,
.links,
.bandDiv,
.search:after,
#musicList:after,
.wrapper:after {
  zoom:1;
  display: inline-block;
}

.clear {
  clear:both;
}